<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat IA - Plêiade Ambiental</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="chat-wrapper" id="chat-layout">
        <aside class="sidebar" id="chat-sidebar">
            <div class="sidebar-content">
                <button class="new-chat-btn">
                    Novo Chat
                </button>

                <div class="chat-history">
                    <h3>Histórico</h3>
                    <!-- Lista dinâmica de conversas (preenchida pelo chat.js) -->
                    <ul id="chat-list"></ul>
                </div>
                <div>
                    <button id="btn-voltar-dashboard" class="voltar-dashboard-btn">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M15 8a.75.75 0 0 1-.75.75H3.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 1 1 1.06 1.06L3.56 7.25H14.25A.75.75 0 0 1 15 8z"/>
                        </svg>
                        Voltar
                      </button>
                </div>
            </div>
        </aside>

        <main class="main-content" id="chat-container">
            <nav class="navbar">
                <h1>Plêiade Ambiental IA</h1>
            </nav>

            <div id="chat-messages" class="messages-area"></div>

            <div class="chat-input-area">
                <form id="message-form" class="message-form">
                    <textarea id="message-input" placeholder="Digite uma mensagem..." rows="1"></textarea>
                    <button type="submit" id="send-button">
                        Enviar
                    </button>
                </form>
            </div>
        </main>
    </div>
    <script src="/static/js/chat.js"></script>
    <script>
        document.getElementById('btn-voltar-dashboard').addEventListener('click', () => {
          window.location.replace('/dashboard'); // impede que o usuário volte para o chat
        });
    </script>      
</body>
</html>